/* You can add global styles to this file, and also import other style files */
body {
    text-align: center;
}

img {
    width: 100%;
}

.card{
    width:200px;
    margin:20px;
    display:inline-block;
    background:lightblue;
}